@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --clr-dark-blue-4: #03045e;
    --clr-dark-blue-3: #023e8a;
    --clr-dark-blue-2: #0077b6;
    --clr-dark-blue-1: #0096c7;
    --clr-blue-main : #00b4d8;
    --clr-light-blue-1: #48cae4;
    --clr-light-blue-2: #90e0ef;
    --clr-light-blue-3: #ade8f4;
    --clr-light-blue-4: #caf0f8;
    
}
body{
    font-family: 'Zen Maru Gothic', sans-serif;
    background-color: var(--clr-light-blue-3);
    color: var(--clr-light-blue-4);

}

.container{
    display: flex;
    min-height: 100vh;
}

.container #quote-box{
    background-color: var(--clr-dark-blue-4);
    padding: 3rem;
    min-width: 300px;
    max-width: 800px;
    margin:auto;
}

#text{
    text-indent: 0.5em;
    font-size: 1.50rem;
    margin-bottom: 0.5em;
    line-height: 150%;
}

#text::first-letter{
    font-size: 150%;
    background-color: var(--clr-blue-main);
    margin-right: 0.2em;
    font-weight: 500;
    padding:0.1em;
    box-shadow: 4px 4px  var(--clr-dark-blue-2);
}
#author{
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2em;
}

#author::before{
    content: "-";
    margin-right: 0.5em;
}

.buttons{
    display: flex;
    justify-content: space-between;

}

.social-media{
    display: flex;
}

.icon,
#new-quote{
    color: var(--clr-light-blue-4);
    cursor: pointer;
    background-color: var(--clr-dark-blue-1);
    border-radius: 3px;
}

.icon{
    width:40px;
    height: 100%;
    
    padding: 0.35em;
    
    
}

#new-quote{
    font-size: 1rem;
    padding: 0.5em 0.75rem;
    border-style: none;

}

.icon:hover,
#new-quote:hover{
    opacity: 0.9;
}